//hello world

$smallWidth: 200px
$medWidth: 400px
$largeWidth: 600px  

*
  box-sizing: border-box

.grid:after
  content: ''
  display: block
  clear: both

div.grid
  max-width: 1200px

div.grid-item
  width: $smallWidth
  float: left
div.grid-item--width2
  width: $medWidth
div.grid-item--width3
  width: $largeWidth 

div img.art
  display: block
  width: 100%
  height: auto
  float: left

